MONGO_URI=mongodb+srv://<username>:<password>@cluster0.jakefsu.mongodb.net/hotel_management?retryWrites=true&w=majority
PORT=3000
NODE_ENV=development
JWT_SECRET=your_secure_jwt_secret_here
FRONTEND_URL=http://localhost:5173
</code_to_edit|>
VAPID_PUBLIC_KEY=BKg_zllVH77NmVwA2z__e8rxO_LbIJl-xiE9ZC-Uy4GwrEYWJi94KAdEPCLv5oOMhj990dMQcH7foilyEZ6myCo
VAPID_PRIVATE_KEY=g8UqGEAgGSsDr7U-gm7bPIvev7zEtUilH8aCu-baDxo
VAPID_SUBJECT=mailto:maharjan2228rupesh@gmail.com

SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM_NAME=Hotel Himalaya INN

VAPID_PUBLIC_KEY=BKg_zllVH77NmVwA2z__e8rxO_LbIJl-xiE9ZC-Uy4GwrEYWJi94KAdEPCLv5oOMhj990dMQcH7foilyEZ6myCo
VAPID_PRIVATE_KEY=g8UqGEAgGSsDr7U-gm7bPIvev7zEtUilH8aCu-baDxo
VAPID_SUBJECT=mailto:maharjan2228rupesh@gmail.com

SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM_NAME=Hotel Himalaya INN
