MONGO_URI=mongodb+srv://maharjan2228rupesh_db_user:123@cluster0.jakefsu.mongodb.net/hotel_management?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
NODE_ENV=development
JWT_SECRET=hotel_himalaya_inn_jwt_secret_2024_secure_key
GOOGLE_CLIENT_ID=39198121017-ksa12cpsjaqv5mbsub25b6nonfnisp6u.apps.googleusercontent.com
CLOUDINARY_CLOUD_NAME=ixugwkni
CLOUDINARY_API_KEY=711579762789597
CLOUDINARY_API_SECRET=xLwl8cFUDfrxsm6CiKc1WUVXE70
SMTP_EMAIL=purnadangol2018@gmail.com
SMTP_PASSWORD=ziop zaoo amsm qaih

